* {
    box-sizing: border-box;
  }
.text1 {
    color: #9d8180;
    text-align: center;
    font-size: 50px;
    font-family:Segoe UI;
}
.text2 {
    text-align: center;
    font-size: 25px;
    font-family: Segoe UI;
}
.first-div {
    display: flex;
    background-color: #edf1f4;
    width: 100%;
    padding: 8%;
}
.first-div img{
    width: 43%;
    height: 15%;
}
.second-div{
    padding-left: 4%;
    font-family: Segoe UI;
}
.text3{
    font-size: 35px;
}
span{
    color:#d6846f;
}
.text4{
    font-size: 23px;
}
.second-div a{
    color: black;
    font-size: 25px;
}
.Third-div img{
    width: 100%;
    height: 100%;
    padding: 5%;
}

